@font-face {
    font-family: 'Abel';
    src: url('../fonts/Abel-Regular.eot');
    src: url('../fonts/Abel-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Abel-Regular.woff2') format('woff2'),
    url('../fonts/Abel-Regular.woff') format('woff'),
    url('../fonts/Abel-Regular.ttf') format('truetype');
    font-weight: 400;
}

body {
    font: 400 16px 'Abel', sans-serif;
    margin: 0;
    padding: 0;
    color: #fff;
    background: radial-gradient(123.99% 123.99% at 14.53% 104.1%, #606060 4.57%, #004150 20.16%, #04162C 61.46%, #000000 100%);
}

.container,
.wrap {
    width: 1142px;
    margin: 0 auto
}

div, p, input, a, span, button, form {
    box-sizing: border-box;
    letter-spacing: 0.02em
}

p {
    line-height: 22px;
    margin: 0;
}

ul, li {
    display: block;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 35px;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: #fff
}

a, button, input {
    transition: all 0.5s ease
}

button {
    cursor: pointer
}

input, button {
    border: none;
    outline: none;
}

img {
    display: block;
    max-width: 100%;
    object-fit: cover;
}

p {
    line-height: 25px
}

select, button {
    cursor: pointer
}

.title {
    font-size: 27px;
    line-height: 34px;
    text-align: center
}

.btn {
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    border-radius: 9px;
    background: rgba(255, 68, 68, 0.7) !important;
}

.btn:hover {
    background: #FF4444 !important;
}

::-webkit-input-placeholder,
:-moz-placeholder,
:-ms-input-placeholder {
    color: #333
}

.wpcf7 .ajax-loader {
    position: absolute !important
}

.acf-map {
    width: 100%;
    height: 100%;
    margin: 0;
    color: #333;
}

.acf-map img {
    width: 45px;
    max-width: inherit !important;
}

#map, #map-down {
    width: 100%;
    height: 600px
}

#map-down .acf-map {
    margin-top: 0;
}

.d-flex {
    display: flex
}

.breadcrumbs {
    margin-bottom: 30px
}

.wpcf7-spinner {
    display: none !important;
}

.wp-caption img {
    /*margin: 20px 0;*/
    border-radius: 20px;
}

/*-----------------------------------------Table-------------------------*/

.dataTables_scrollHeadInner {
    width: 764px !important
}

.tablepress {
    width: 100% !important;
}

.dataTables_wrapper {
    width: 764px !important;
    max-width: 100%;
    margin: 0 auto;
}

.dataTables_scroll {
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 0 0 20px 20px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.information .dataTables_scroll,
.texts .dataTables_scroll {
    margin: 20px auto;
    border-radius: 10px;
}

.contant .dataTables_wrapper {
    margin: 20px 0 !important;
}

.tablepress tfoot th,
.tablepress thead th {
    font-weight: 400 !important;
    padding: 11px;
    text-align: center;
    color: #fff;
    background: rgba(255, 255, 255, 0.3) !important;
}

.contant .tablepress thead th:first-child,
.information .tablepress thead th:first-child,
.texts .tablepress thead th:first-child {
    border-radius: 10px 0 0 0;
}

.contant .tablepress thead th:last-child,
.information .tablepress thead th:last-child,
.texts .tablepress thead th:last-child {
    border-radius: 0 10px 0 0;
}

.tablepress td {
    padding: 12px !important
}

.tablepress tbody td,
.tablepress tfoot th {
    text-align: center !important
}

tbody tr:nth-child(2n),
.tablepress .odd td {
    background-color: rgba(255, 255, 255, 0.05) !important;
}

.tablepress .even td {
    background: transparent !important;
}

tbody tr td {
    text-align: center
}

tbody tr:last-child td:nth-child(1) {
    border-radius: 0 0 0 20px
}

tbody tr:last-child td:last-child {
    border-radius: 0 0 20px 0
}

tbody tr:hover {
    cursor: pointer;
    background-color: rgba(255, 54, 54, 0.4) !important;
}

.menu__list li:first-child {
    position: relative;
    display: block;
}

.hc_line1 a {
    font-size: 10px;
    display: block;
    content: 'Лицензия 77Л01 №0010539';
}

.menu__list li:first-child:hover:before {
    color: #fff;
}

.hc_line1_wrap_img {
    display: inline-block;
    width: 20px;
    height: 14px;
}

.hc_line1_wrap_img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}


/*-------------------------------------Pop-up------------------------------*/


.popmake-content input {
    font-size: 18px;
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    padding: 5px 20px;
    border-radius: 50px;
    box-shadow: none;
}

input[type="checkbox"] {
    width: 15px !important;
    height: 15px !important;
    margin-right: 7px
}

.popmake-content span a {
    text-decoration: underline
}

.popmake-content .btn {
    width: 100%;
    height: 50px;
    cursor: pointer;
    border: none
}

.pum-theme-12 .pum-content + .pum-close,
.pum-theme-enterprise-blue .pum-content + .pum-close {
    font-size: 55px !important;
    top: 30px !important;
    right: 30px !important;
    color: #000 !important;
    background-color: transparent !important;
}

.pum-theme-12 .pum-title,
.pum-theme-enterprise-blue .pum-title {
    color: rgba(38, 72, 150, 1) !important
}

.pum-container .pum-title {
    position: relative;
    display: inline-block;
    margin-bottom: 28px !important
}

.pum-container.pum-responsive.pum-responsive-small {
    padding: 70px;
    text-align: center;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, .8)
}

#spu-3031 {
    position: fixed;
    top: 25%;
    left: 30%;
    width: 600px;
    max-width: 100%;
    padding: 70px;
    text-align: center;
    color: #000;
    border: 8px solid #fff !important;
    border-radius: 30px !important;
    background-color: rgba(255, 255, 255, .8) !important;
}

#spu-3031 .btn,
#spu-3031 input {
    font-size: 18px;
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    padding: 5px 20px;
    cursor: pointer;
    border: none;
    border-radius: 50px;
    box-shadow: none;
}

.pop-up-title {
    font-size: 32px;
    font-weight: 100;
    line-height: 36px;
    margin-bottom: 28px
}

.pop-up-title span {
    font-size: 25px;
    display: inline-block;
    color: #ff7171;
}

.wpcf7 form.invalid .wpcf7-response-output,
.wpcf7 form.unaccepted .wpcf7-response-output,
.wpcf7 form.payment-required .wpcf7-response-output {
    display: none !important;
}

.pum-theme-11 .pum-container,
.pum-theme-lightbox .pum-container {
    border: 8px solid #fff !important;
    box-shadow: none !important;;
}

.spu-icon-close {
    font-size: 24px;
    font-weight: 600 !important;
    line-height: 18px !important;
    position: absolute;
    top: -13px;
    right: -13px;
    bottom: auto;
    left: auto;
    width: 26px;
    height: 26px;
    padding: 0;
    border: 2px solid #fff;
    border-radius: 26px;
    background-color: #fff;
    box-shadow: 0px 0px 15px 1px rgb(2 2 2 / 75%);
    text-shadow: 0px 0px 0px rgb(0 0 0 / 23%);
}

.spu-icon-close:before {
    content: '×' !important;
}

.pum-theme-11 .pum-content + .pum-close, .pum-theme-lightbox .pum-content + .pum-close {
    color: #000 !important;
    background-color: #fff !important;
}

.pum-container .pum-title:after {
    font-size: 25px;
    display: inline-block;
    content: '(-10% скидка)';
    color: #ff7171;
}

br {
    display: none;
}

.wpcf7-not-valid {
    box-shadow: 0 0 5px 3px #ff4444 !important;
}

.courses .wpcf7-not-valid,
.sidebar-two .wpcf7-not-valid {
    display: block;
    height: 43px;
    border-radius: 50px;
}


/*-------------------------------------Up------------------------------------*/

.up {
    padding: 20px 0
}

.up .container,
.wrap {
    text-align: center
}

.up .title {
    position: relative;
    display: inline-block;
    text-align: center;
}

/*-------------------------------------Header--------------------------------*/

.header {
    position: fixed;
    z-index: 999;
    top: 0;
    width: 100%;
    padding: 10px 0;
    background: rgb(0, 0, 0);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.menu {
    display: flex;
    justify-content: space-between
}

.menu__burger {
    position: relative;
    display: none;
    width: 24px;
    height: 24px;
}

.menu__burger span {
    display: block;
    width: 24px;
    height: 2px;
    background-color: #FFFFFF;
}

.menu__burger .active {
    position: absolute;
    top: 8px;
    transition-delay: 0.3s, 0s;
    transition-duration: 0.3s, 0.3s;
    transform: rotate(45deg);
}

.menu__burger .active:nth-child(2) {
    transform: rotate(-45deg)
}

.menu__burger .active:last-child {
    display: none
}

.menu__burger span:not(:last-child) {
    margin-bottom: 5px
}

.menu__burger .active:not(:last-child) {
    margin-bottom: 0
}

.menu__logo,
.menu__list {
    display: flex
}

.header_wrap_menu {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    justify-content: space-between;
    margin-left: 100px;
}

.menu__list {
    align-items: flex-end;
}

.menu__logo div {
    margin-left: 8px
}

.menu__logo {
    width: 220px;
}

.menu__logo p {
    font-size: 12px
}

.menu__logo span:after {
    display: block;
    width: 100%;
    height: 1px;
    content: '';
    background-color: rgba(255, 255, 255, 0.3);
}

.menu__logo span {
    font-size: 21px
}

.menu__list a {
    font-size: 16px
}

.menu__list a:hover,
.menu__list a:active {
    color: #FF8989
}

.menu__list li:not(:last-child) {
    margin-right: 45px
}

.menu__info {
    text-align: end;
}

.menu__info a {
    display: flex;
    align-items: center;
    color: #fff;
}

.menu__info a:first-child {
    font-size: 20px
}

.menu__info a:last-child {
    font-size: 12px;
    display: block;
}

.menu__info p {
    font-size: 10px;
    line-height: 15px;
    display: block;
}

.menu__info img {
    display: block;
}

.menu__up {
    display: flex;
    align-items: center;
}

.menu__up a {
    display: block
}

.menu__up .menu__tel {
    font-size: 18px !important;
    margin-left: 8px;
}

/*-----------------------------------------Face--------------------------*/
/*----------------------------------------block_map------------------------------*/
.block_map {
    position: relative;
    height: 600px;
}

.bm_wrap_map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.block_map .wrap {
    position: relative;
    height: 100%;
    pointer-events: none;
}

.form_map {
    position: absolute;
    top: 68px;
    width: 394px;
    pointer-events: auto;
}


.faces {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
}

.face {
    z-index: 2;
    margin-top: 70px
}

.block_map {
    /*margin-top: 70px*/
}

.face__item {
    position: relative;
    padding: 12px 30px 27px;
    text-align: left;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 30px;
    background: rgba(0, 0, 0, 0.6);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.face__item:before {
    position: absolute;
    top: 15px;
    right: 30px;
    width: 39px;
    height: 40px;
    content: '';
    background: url("../img/search.png") top center / cover;
}

.face__title {
    font-size: 20px;
    line-height: 20px
}

.face__text {
    font-size: 14px;
    line-height: 14px;
    margin: 10px 0 20px;
}

.face__part input,
.face__part select {
    width: 330px;
    height: 37px;
    margin-bottom: 18px;
    padding: 9px 19px;
    border: none;
    border-radius: 13px;
    background: rgba(255, 255, 255, 0.8);
}

.face__part select {
    overflow: hidden;
    background: url('../img/left-form.png') no-repeat right 15px top 10px, rgba(255, 255, 255, 0.8);
    appearance: none;
}

.face__part .btn {
    font-size: 14px;
    display: block;
    width: 330px;
    height: 40px;
    margin: 11px 0 0 !important;
    padding: 11px;
    border-radius: 9px;
}

.face__part #scales input {
    width: 15px;
    height: 15px;
    margin-right: 8px;
    margin-bottom: 11px;
    border-radius: 3px;
    background: #FFFFFF;
}

.face__chackbox {
    font-size: 14px;
    columns: 2
}

.face__chackbox .wpcf7-list-item {
    margin: 0 !important
}

.wpcf7 .ajax-loader {
    width: 0 !important;
    height: 0 !important
}

.face__chackbox > label {
    display: block
}

.face__more {
    font-size: 16px;
    display: inline-block;
    margin-bottom: 20px;
}

/*-----------------------------------Ranges---------------------------------*/

.ranges {
    padding: 30px 0 0;
    text-align: center
}

.range__picturs {
    width: 100%;
    height: 350px;
    margin-bottom: 30px;
    border-radius: 20px;
}

.range__title {
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
}

.range__place {
    font-size: 14px
}

.range__part_wrap_img {
    overflow: hidden;
    width: 94px;
    height: 94px;
    margin-bottom: 7px;
    border-radius: 12px;
}

.range__part_wrap_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.range__contant {
    font-size: 12px;
    padding: 0 20px 0;
    text-align: start
}

.range__reting {
    display: flex
}

.range__reting img {
    margin-right: 5px;
}

.range__info {
    display: flex;
    flex-wrap: wrap
}

.range__container{
    margin:0 -10px;
}

.range__cont {
    margin-bottom: 18px;
}

.range__item {
    position: relative;
    display: flex;
    /*width: 362px;*/
    height: 138px;
    margin: 0 10px;
    margin-bottom: 5px;
    padding: 14px 10px 10px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 18px;
    background: rgba(196, 196, 196, 0.2);
    box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.6);
}

.range__item > img {
    width: 100%;
    height: 200px;
    border-radius: 20px 20px 0 0
}

.range__text {
    font-size: 14px;
    line-height: 25px;
    display: none;
    justify-content: center;
    margin-right: 5px;
    padding: 0 8px;
    border-radius: 50px;
}

.range .range__text:nth-child(-n+4) {
    display: flex
}

.range__text:not(:last-child) {
    margin-bottom: 3px
}

.range__text span {
    width: 18px;
    height: 15px;
    margin-left: 20px;
}

.range__btn {
    position: absolute;
    bottom: 26px;
    left: 15%;
    width: 205px;
    height: 37px;
    padding-top: 5px
}

.range__addres {
    font-size: 18px
}

.range__down {
    display: flex;
    justify-content: space-between
}

.range__time {
    display: flex;
    align-items: center
}

.range__time img {
    margin-right: 10px
}

.range__link {
    font-size: 10px;
    position: absolute;
    right: 10px;
    bottom: 10px;
}

/*--------------------------------------Information-----------------------------*/

.information {
    padding: 30px 0 40px
}

.info__cont {
    font-size: 16px;
    display: flex;
    justify-content: space-between;
}

.info__part {
    max-width: 100%;
}

.info__title {
    margin-bottom: 20px;
    text-align: center
}

.info__text {
    line-height: 25px;
    display: block
}

.info__text:not(:last-child) {
    margin-bottom: 20px
}

.info__photo {
    float: right;
    width: 406px;
    height: 260px;
    margin: 0 0 20px 20px;
    border-radius: 20px;
}

/*--------------------------------Services-----------------------------*/

.services {
    position: relative;
    z-index: 2;
    padding: 30px 0 25px;
    text-align: center;
    background: url(../img/serv.jpg) center center / cover;
}

.serv__item {
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 286px;
    height: 43px;
    margin-bottom: 20px;
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 18.5px;
}

.serv__item_y {
    background: rgba(255, 214, 68, 0.3);
}

.serv__item_g {
    background: rgba(68, 255, 75, 0.3);
}

.serv__item_r {
    background: rgba(255, 68, 68, 0.3);
}

.serv__item_b {
    background: rgba(68, 255, 255, 0.3);
}

.serv__item:hover {
    border: 2px solid #FFFFFF;
    background: rgba(68, 255, 255, 0.7);
}

.serv__cont {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.serv__up {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
}

.serv__info {
    font-size: 10px;
    display: flex;
}

.serv__info:first-child img {
    height: 30px;
}

.serv__info span {
    line-height: 5px;
    display: block;
    text-align: start;
}

.serv__info:first-child p {
    margin-left: 10px;
}

.serv__info:last-child span {
    text-align: end;
}

.serv__info:last-child {
    align-items: center;
}


/*-------------------------------------Video----------------------------------------------*/

.videos {
    padding: 20px 0;
}

.video__cont {
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.video__item {
    width: 551px;
    height: 291px;
    border-radius: 19px;
}

.video__item p {
    margin-top: 10px;
}

/*----------------------------------More-information--------------------------------*/

.more-information {
    padding: 45px 0 35px;
    background: url("../img/more.jpg") top center / cover;
}

.more-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.more-info__title {
    font-size: 25px;
    margin-bottom: 32px;
    text-align: center;
}

.more-info__up {
    font-size: 20px;
    display: flex;
    align-items: center;
    margin-bottom: 45px;
}

.more-info__up img {
    margin-right: 20px
}

.more-info__item {
    position: relative;
    width: 362px;
    height: 358px;
    padding: 23px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 18px;
    background: rgba(196, 196, 196, 0.2);
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.4);
}

.more-info__btn {
    position: absolute;
    right: 22px;
    bottom: 19px;
    width: 120px;
    height: 40px;
    padding-top: 10px;
    border-radius: 9px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.more-info__text {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.more-info__text:before {
    display: block;
    width: 4px;
    height: 4px;
    margin-right: 5px;
    content: '';
    border-radius: 50px;
    background-color: #fff;
}


/*------------------------------------Offers-------------------------------------*/

.offers {
    padding: 32px 0;
    text-align: center;
    background: url('../img/special.jpg') center center / cover;
}

.offer__title {
    margin-bottom: 34px;
    color: #fff;
}

.offer__item {
    position: relative;
    width: 352px;
    height: 337px;
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 18px;
    background: rgba(196, 196, 196, 0.2);
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.4);
}

.offer__item:after {
    position: absolute;
    bottom: -30px;
    left: 26px;
    display: block;
    width: 73px;
    height: 73px;
    content: '';
    background: url('../img/fire.svg') center center / cover;
}

.offer__item:hover {
    background: rgba(196, 196, 196, 0.4);
}

.offer__item_wrap_img {
    max-width: 320px;
    height: 135px;
    margin-bottom: 12px;
    border-radius: 11px;
    overflow: hidden;
}

.offer__item_wrap_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.offer__text {
    font-size: 12px;
    text-align: start;
}

.offer__item:nth-child(4):after {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 77px;
    height: 77px;
    content: '';
    background: url(../img/four.svg) center center / cover;
}

.offer__name {
    font-size: 18px;
    display: block;
    width: 100%;
    height: 37px;
    margin-bottom: 15px;
    padding: 7px;
    text-transform: uppercase;
    color: #333;
    border-radius: 18.5px;
    background: #F6C125;
}

.offer__cont {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.offer__btn {
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 120px;
    height: 40px;
}


/*--------------------------------Licenses--------------------------------*/

.licenses {
    padding: 16px 0 5px
}

.license__title {
    margin-bottom: 10px;
    text-align: center
}

.license__item {
    overflow: hidden;
    width: 207px !important;
    height: 285px;
    margin: 10px;
    border-radius: 20px;
    background: #C4C4C4;
    box-shadow: 0 0 5px 3px rgb(0 0 0 / 8%);
}

.license__item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/*----------------------------------------Instructors---------------------------*/

.instructors {
    padding: 15px 0;
    text-align: center;
}

.instru__title {
    margin-bottom: 24px;
}

.instru__item {
    width: 173px !important;
    margin: 0 10px;
}

.instru__item_wrap_img {
    overflow: hidden;
    width: 173px;
    height: 173px;
    margin-bottom: 10px;
    border-radius: 100%;
}

.instru__item_wrap_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.instru__name {
    font-size: 14px;
    line-height: 26px;
}

.instru__text {
    font-size: 12px;
    line-height: 5px;
}

.faces {
    background: url("../img/map-fon-2.jpg") top center / cover;
}


/*-------------------------------------Texts---------------------------------*/

.texts {
    font-size: 18px;
    padding: 20px 0;
}

/*----------------------------------------Footer---------------------------*/

.footer {
    padding: 40px 0;
}

.footer a {
    color: #fff;
}

.footer a:hover {
    color: #FF8989;
}

.down {
    display: flex;
    justify-content: space-between;
}

.down__best {
    font-size: 14px;
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.down__best p {
    line-height: 15px;
}

.down__best img {
    height: 35px;
    margin-right: 10px;
}

.down__best span {
    display: block;
}

.down__cont {
    width: 25%;
    border-right: 1px solid #fff;
}

.down__link img {
    height: 18px;
}

.down__list li {
    margin-bottom: 10px;
}

.down__item_name {
    font-size: 20px;
    margin-bottom: 14px;
}

.down__phone {
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 8px;
}

.down__link_map {
    font-size: 12px;
    display: block;
    width: 100%;
    margin-top: 12px;
    text-align: end;
}

.down__time {
    font-size: 10px;
    text-align: end;
}

.down__place {
    font-size: 12px;
}

.down__logo {
    display: flex;
}

.down__logo img {
    height: 55px;
    margin-right: 5px;
}

.down__logo span {
    font-size: 21px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.down__logo p {
    font-size: 12px;
}

/*----------------------------------------Sidebar------------------------------*/

.sidebar {
    width: 163px
}

.sidebar__list li {
    box-sizing: border-box;
    width: 100%;
    margin-top: 3px;

}

.sidebar__list li {
    display: block;
    align-items: center;
}

.sidebar__list li a:before {
    position: absolute;
    top: calc(50% - 2px);
    left: 10px;
    display: block;
    width: 4px;
    height: 4px;
    content: '';
    border-radius: 50px;
    background: #C4C4C4;
}

.sidebar__list li a:hover {
    background-color: rgba(255, 255, 255, 0.19);
}

.sidebar__list a {
    position: relative;
    display: block;
    align-items: center;
    padding: 5px 10px;
    padding-left: 20px;
    border-radius: 54px;
}

.sidebar__list {
    margin-bottom: 20px;
}

.sidebar__list:not(:first-child) p {
    line-height: 16px;
}

.sidebar__list img {
    margin-right: 14px;
}

.sidebar__contact {
    margin: 20px 0;
    padding: 0 20px;
}

.sidebar__email {
    font-size: 12px;
}

.sidebar__phone {
    font-size: 14px;
}

.sidebar__time {
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sidebar__time img {
    height: 18px;
}

.sidebar__place {
    font-size: 12px;
    line-height: 14px;
}

.sidebar-two {
    font-size: 16px;
    width: 157px;
}

.sidebar-two-fixed {
    position: fixed;
    top: 100px;
    width: 157px;
}

.sidebar-two .wpcf7-list-item {
    margin: 0 !important;
}

.sidebar-two .wpcf7-list-item-label {
    font-size: 18px;
    display: block;
    min-width: 43px;
    height: 43px;
    margin-bottom: 20px;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 50px;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.4);
}

.sidebar-two .y .wpcf7-list-item-label {
    background: rgba(255, 214, 68, 0.2);
}

.sidebar-two .g .wpcf7-list-item-label {
    background: rgba(68, 255, 75, 0.2);
}

.sidebar-two .r .wpcf7-list-item-label {
    background: rgba(255, 68, 68, 0.2);
}

.sidebar-two .b .wpcf7-list-item-label {
    background: rgba(68, 255, 255, 0.2);
}

.sidebar-two input[type="checkbox"] {
    display: none;
}

.sidebar-two input[type="checkbox"]:checked ~ .wpcf7-list-item-label,
.sidebar-two input[type="checkbox"]:hover ~ .wpcf7-list-item-label {
    border: 1px solid #fff;
}

.sidebar-two .y input[type="checkbox"]:checked ~ .wpcf7-list-item-label,
.sidebar-two .y input[type="checkbox"]:hover ~ .wpcf7-list-item-label {
    background: rgba(255, 214, 68, 0.7);
}

.sidebar-two .g input[type="checkbox"]:checked ~ .wpcf7-list-item-label,
.sidebar-two .g input[type="checkbox"]:hover ~ .wpcf7-list-item-label {
    background: rgba(68, 255, 75, 0.7);
}

.sidebar-two .r input[type="checkbox"]:checked ~ .wpcf7-list-item-label,
.sidebar-two .r input[type="checkbox"]:hover ~ .wpcf7-list-item-label {
    background: rgba(255, 68, 68, 0.7);
}

.sidebar-two .b input[type="checkbox"]:checked ~ .wpcf7-list-item-label,
.sidebar-two .b input[type="checkbox"]:hover ~ .wpcf7-list-item-label {
    background: rgba(68, 255, 255, 0.7);
}

.sidebar-two .big {
    font-size: 26px;
}

.sidebar-two .big span {
    text-decoration: line-through;
    color: #FF0000;
}

.sidebar-two .btn {
    width: 156px;
    height: 40px;
    margin-top: 10px;
    border-radius: 9px;
    background: rgba(255, 68, 68, 0.7);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.sidebar-two__title {
    font-size: 24px;
    margin-bottom: 10px;
}

.sidebar-two__red {
    color: #FF7051;
}

.sidebar-two__info:after {
    display: block;
    width: 100%;
    height: 1px;
    margin: 20px 0;
    content: '';
    background-color: rgba(255, 255, 255, 0.3);
}

.sidebar__map {
    margin-bottom: 15px;
}

/*------------------------------------------News--------------------------------------*/

.news {
    padding: 27px 0 44px;
}

.new {
    display: flex;
    justify-content: space-between;
}

.new__item {
    position: relative;
}

.new__photo_wrap_img {
    overflow: hidden;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    filter: drop-shadow(0px 4px 100px rgba(0, 0, 0, 0.5));
}

.new__photo_wrap_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.new__name {
    font-size: 12px;
    font-weight: 600;
    position: absolute;
    bottom: 5px;
    left: -15px;
    display: block;
    width: 177px;
    padding: 7px 12px;
    color: #333;
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.71);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.new__name:hover {
    background-color: rgba(255, 128, 128, 0.71);
}

/*----------------------------------------About-------------------------------*/

.about {
    padding: 30px 0;
}

.take-info__cont {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.contant {
    width: 765px;
}

.contant h2 {
    display: flex;
    margin-bottom: 20px;
}

.block_text_content p,
.p_text_content,
.contant p {
    margin-bottom: 10px;
    color: #ffffffad;
}

.contant h2:not(:first-child) {
    margin: 20px 0;
}



.ranks a,
.texts a,
.information a,
.reviews a,
.contant a {
    color: #FF8181;
}

.contant h2:before {
    display: block;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    content: '';
    background: url("../img/i-2.png") center top / cover;
}

.contant h3,
.contant h4,
.contant h5,
.contant h6 {
    margin: 20px 0;
}

.take-info-error {
    min-height: calc(70vh - 80px);
    margin-top: 150px;
}

.take-info__mistake {
    text-align: center;
    color: rgba(38, 72, 150, 1)
}

.take-info__mistake span {
    font-size: calc(5vh);
    display: inline-block;
    margin-bottom: 50px;
}

.take-info__mistake p {
    font-size: calc(3vh);
    text-transform: uppercase;
}

.cont__gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

.cont__gallery img {
    width: 250px;
    height: 250px;
}

.cont__video {
    margin-top: 20px;
}


/*----------------------------------------Slider------------------------------*/


.slick-prev:before,
.slick-next:before {
    display: block;
    width: 41px;
    height: 41px;
    color: #fff;
}

.slick-next:before {
    content: '';
    transform: rotate(-180deg);
    background: url("../img/left-main.svg") top center / cover;
}

.slick-prev:before {
    content: '';
    background: url("../img/left-main.svg") top center / cover;
}

.instructors .slick-prev,
.instructors .slick-next {
    top: 40%;
}

.slick-prev {
    left: -40px;
}


/*--------------------------------------------------------Courses-------------------------*/

.courses {
    padding: 20px 0;
    background: rgba(0, 0, 0, 0.5);
}

.cours__cont {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cours .btn {
    width: 280px;
    height: 40px;
    border-radius: 9px;
}

.cours__title {
    font-size: 23px;
    line-height: 29px;
    margin-bottom: 15px;
    text-align: center;
}

.cours__down {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cours .wpcf7-list-item {
    margin: 0 !important;
}

.cours .wpcf7-list-item-label {
    font-size: 18px;
    display: block;
    min-width: 43px;
    height: 43px;
    margin-bottom: 20px;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 50px;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.4);
}

.cours .y .wpcf7-list-item-label {
    background: rgba(255, 214, 68, 0.2);
}

.cours .g .wpcf7-list-item-label {
    background: rgba(68, 255, 75, 0.2);
}

.cours .r .wpcf7-list-item-label {
    background: rgba(255, 68, 68, 0.2);
}

.cours .b .wpcf7-list-item-label {
    background: rgba(68, 255, 255, 0.2);
}

.cours input[type="checkbox"] {
    display: none;
}

.cours input[type="checkbox"]:checked ~ .wpcf7-list-item-label,
.cours input[type="checkbox"]:hover ~ .wpcf7-list-item-label {
    border: 1px solid #fff;
}

.cours .y input[type="checkbox"]:checked ~ .wpcf7-list-item-label,
.cours .y input[type="checkbox"]:hover ~ .wpcf7-list-item-label {
    background: rgba(255, 214, 68, 0.7);
}

.cours .g input[type="checkbox"]:checked ~ .wpcf7-list-item-label,
.cours .g input[type="checkbox"]:hover ~ .wpcf7-list-item-label {
    background: rgba(68, 255, 75, 0.7);
}

.cours .r input[type="checkbox"]:checked ~ .wpcf7-list-item-label,
.cours .r input[type="checkbox"]:hover ~ .wpcf7-list-item-label {
    background: rgba(255, 68, 68, 0.7);
}

.cours .b input[type="checkbox"]:checked ~ .wpcf7-list-item-label,
.cours .b input[type="checkbox"]:hover ~ .wpcf7-list-item-label {
    background: rgba(68, 255, 255, 0.7);
}

.wpcf7 form.sent .wpcf7-response-output {
    display: none !important;
}

.center {
    display: block;
    text-align: center;
}

.text h3,
.info__cont h3 {
    margin: 15px 0;
}

/*---------------------------------------------Ranks---------------------------------------------*/

.ranks {
    padding: 20px 0;
}

.rank__cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rank__cont p {
    margin-bottom: 20px;
}

.rank__title {
    font-size: 23px;
    margin-bottom: 20px;
    text-align: center;
}


.rank__part {
    /*display: block;*/

    margin-right: 26px;
}

.rank__part_img{
    overflow: hidden;
    border-radius: 36px;
    width: 530px;
    flex-shrink: 0;
}

.rank__part img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.rank__part p {
    width: 589px;
}

/*--------------------------------------------------Place------------------------------------------------*/

.places {
    padding: 15px 0;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
}

.place__cont {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 15px;
}

.place__item {
    display: block;
    margin-bottom: 20px;
    color: #fff;
}

.place__item_wrap_img {
    overflow: hidden;
    width: 270px;
    height: 152px;
    margin-bottom: 10px;
    border-radius: 18px;
}

.place__item_wrap_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}


/*-------------------------------Reviews---------------------------*/

.review__cont {
    display: flex;
    justify-content: space-between;
    margin-top: 28px;
}

.review__text {
    width: 751px;
    margin-right: 35px;
}

.review__form {
    width: 351px;
    padding: 15px 30px 24px;
    border-radius: 18px;
    background: rgba(196, 196, 196, 0.2);
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.4);
}

.review__title {
    text-align: center;
}

.review__name {
    font-size: 20px;
    margin-bottom: 18px;
    text-align: center;
}

.review__form input,
.review__form select {
    font-size: 14px;
    width: 100%;
    margin-bottom: 18px;
    padding: 10px 19px;
    border-radius: 13px;
    background: rgba(255, 255, 255, 0.8);
}

.review__form .btn {
    border-radius: 9px;
}

/*--------------------------------------------------Feedbacks---------------------------------------*/

.feedbacks {
    padding: 0 0 10px;
}

.feedback__cont {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 26px;
}

.feedback__title {
    text-align: center;
}

.feedback__item {
    font-size: 12px;
    display: flex;
    width: 362px;
    height: 128px;
    margin: 0 36px 26px 0;
    padding: 14px 10px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 18px;
    background: rgba(196, 196, 196, 0.2);
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.4);
}

.feedback__info {
    position: relative;
}

.feedback__item p {
    line-height: 14px;
    letter-spacing: 0.01px;
}

.feedback__item_wrap_img {
    overflow: hidden;
    flex-shrink: 0;
    width: 94px;
    height: 94px;
    margin-right: 9px;
    border-radius: 50px;
}

.feedback__item_wrap_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.feedback__name {
    margin-bottom: 12px;
}

.feedback__down {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
}


.wrap_star_img {
    width: 14px;
    height: 14px;
    margin-right: 5px;
}

.wrap_star_img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.feedback__down img:not(:last-child) {
    margin-right: 5px;
}


/*---------------------------------Blurbs-------------------------*/

.blurbs {
    padding: 0 0 25px;
}

#blurbs-one {
    padding: 20px 0;
    background: url("../img/baner-one.jpg") top center / cover;
}

#blurbs-one .blurb__up {
    margin-top: 0;
}

.blurb__up {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.blurb__info span {
    font-size: 22px;
    display: block;
    margin-bottom: 10px;
}

.blurb__item {
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 95px;
    margin-top: 15px;
    padding: 0 16px 8px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    background: rgba(196, 196, 196, 0.2);
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.4);
}

.blurb__item .red {
    text-decoration: line-through;
    color: #FF0000;
}

.blurb__info .blurb__item span {
    font-size: 20px;
    margin: 0 28px;
}

.blurb__item .name {
    margin-bottom: 10px;
}

.blurb__info .blurb__item .big span {
    font-size: 20px;
    margin: 0;
}

.blurb__item .big {
    font-size: 40px;
    display: flex;
}

.blurb__form {
    position: relative;
    width: 334px;
    padding: 8px 27px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 18px;
    background: rgba(196, 196, 196, 0.2);
    box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.6);
}

.blurb__form:before {
    position: absolute;
    top: -25px;
    left: 26px;
    display: block;
    width: 52px;
    height: 52px;
    content: '';
    background: url(//avtoshkola-ds.ru/wp-content/themes/right/css/../img/fire.svg) center center/cover;
}

.blurb__form p:first-child {
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
}

.blurb__form input {
    width: 100%;
    height: 27px;
    padding: 6px 15px;
    border-radius: 13px;
    background: rgba(255, 255, 255, 0.8);
}

.blurb__form input:first-child {
    margin-bottom: 11px;
}

.blurb__form .btn {
    height: 40px;
    margin-top: 9px;
    border-radius: 9px;
    background: rgba(255, 68, 68, 0.7);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.blurb__baner img {
    width: 100%;
    height: 171px;
    margin: 40px 0 20px;
    border-radius: 18px;
}

.blurb__name {
    margin-bottom: 10px;
}

/*-----------------------------------------Pices------------------------------------------*/

.pices {
    padding: 16px 0 40px;
}

.pice__cont {
    display: flex;
    justify-content: space-between;
}

.pice__up {
    font: 600 23px 'Gilroy', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 23px 10px 39px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 20px 20px 0 0;
}

.pice__icon {
    font-size: 14px;
    font-weight: 400;
    display: flex;
    align-items: center;
}

.pice__icon p {
    line-height: 15px;
}

.pice__icon span {
    display: block;
    text-align: end;
}

.pice__up img {
    height: 39px;
    margin-left: 10px;
}

.pice__form {
    width: 353px;
    padding: 20px 30px 24px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 18px;
    background: rgba(196, 196, 196, 0.2);
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.4);
}

.pice__name {
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
}

.pice__form input {
    font-size: 14px;
    width: 100%;
    margin-bottom: 18px;
    padding: 10px 19px;
    border-radius: 9px;
    background: rgba(255, 255, 255, .8);
}

.pice__form .btn {
    margin-bottom: 0;
}

.pice__form .littel,
.pice__more {
    font-size: 12px;
    line-height: 15px;
    display: block;
    margin-bottom: 10px;
    text-align: center;
}

.pice__more {
    margin-bottom: 30px;
}


@media (max-width: 1200px) {
    .container,
    .wrap {
        width: 960px;
    }

    .contant {
        width: 600px;
    }

    .videos {
        padding-bottom: 0;
    }

    .more-info__item {
        width: 310px;
        padding: 15px;
    }

    .blurb__info .blurb__item span {
        margin: 0 18px;
    }

    .blurb__item .big {
        font-size: 35px;
    }

    .blurb__form {
        width: 280px;
    }

    .pice__cont,
    .rank__cont {
        flex-direction: column;
    }

    .range__item {
        margin: 0 auto 5px;
    }

    .feedback__item {
        margin: 0 auto 36px;
    }

    .slick-next {
        right: 5px;
    }

    .slick-prev {
        z-index: 05;
        left: -15px;
    }

    .cont__gallery img {
        width: 170px;
        height: 170px;
    }

    .menu__logo img {
        height: 60px;
    }

    .menu__list li:not(:last-child) {
        margin-right: 35px;
    }

    .serv__item {
        font-size: 18px;
        width: 230px;
        padding: 0 5px;
    }

    .offer__item {
        width: 310px
    }

    .offer__name {
        font-size: 18px;
    }

    .licenses {
        text-align: center;
    }

    .review__text {
        width: 95%
    }

    .place__item img {
        width: 230px;
    }

    .rank__part p {
        width: 100%;
        margin-top: 20px;
    }

    .rank__part img {
        margin: 0 auto;
    }

    .pice__part {
        margin: 0 auto;
    }

    .video__item {
        width: 470px;
    }

    .pice__part:first-child {
        width: 765px;
        margin: 0 auto 20px;
    }

}

@media (max-width: 992px) {
    .container,
    .wrap {
        width: 730px;
    }

    .sidebar, .sidebar-two {
        display: none;
    }

    .new__item:last-child {
        display: none;
    }

    .contant {
        width: 100%;
    }

    .pice__part:first-child {
        max-width: 100%;
    }

    .blurb__up,
    .more-info,
    .video__cont,
    .review__cont,
    .offer__cont {
        flex-direction: column;
    }

    .range__item,
    .feedback__item,
    .blurb__form,
    .more-info__item,
    .offer__item,
    .place__item img {
        width: 350px;
        max-width: 100%;
    }

    .place__item:nth-child(-n+2) {
        margin-bottom: 20px;
    }

    .video__item {
        width: 550px;
        max-width: 100%;
        height: auto;
        margin: 0 auto;
    }

    .place__cont {
        flex-wrap: wrap;
    }

    .more-info__cont:not(:last-child),
    .video__item:not(:last-child),
    .offer__item {
        margin-bottom: 20px !important;
    }

    .more-info__item,
    .offer__item {
        margin: 0 auto;
    }

    .blurb__form,
    .review__form {
        margin: 30px auto 0;
    }

    .cours .wpcf7-list-item-label {
        font-size: 20px;;
        min-width: 85px;
    }

    .range__picturs {
        height: 250px;
    }

    .cont__gallery img {
        width: 200px;
        height: 200px;
        margin: 0 auto 10px;
    }

    .title {
        font-size: 30px;
    }

    .face__title {
        font-size: 25px;
    }

    .range__place {
        margin-bottom: 10px;
    }

    .prasent__text {
        margin-bottom: 30px;
    }

    .info__cont {
        flex-direction: column;
    }

    .info__photo {
        margin: 20px auto 0;
    }

    .serv__item {
        font-size: 16px;
        width: 175px;
        height: 85px;
    }

    .menu__burger {
        display: block;
    }

    .menu__list {
        position: absolute;
        z-index: 999;
        top: 70px;
        left: 0;
        display: none;
        width: 100%;
        padding: 20px;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.9);
    }

    .menu__list a {
        font-size: 18px;
        color: #fff;
    }

    .menu__list li:not(:last-child) {
        margin: 0 0 20px;
    }

    .info__part:first-child {
        width: 100%;
    }

    .down__cont {
        width: 45%;
        border-right: none;
    }

    .down__cont:nth-child(-n+2) {
        margin-bottom: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid #FFFFFF;
    }

    .down {
        flex-wrap: wrap;
    }

}

@media (max-width: 768px) {
    .container,
    .wrap {
        width: 540px;
    }

    .rank__part_img{
        width: auto;
        margin-right: 0;
    }

    .form_map {
        width: auto;
    }

    .new {
        flex-wrap: wrap;
    }

    .new__item {
        width: 50%;
        text-align: center;
    }

    .new__item:nth-child(-n+2) {
        margin-bottom: 20px;
    }

    .new__photo_wrap_img {
        display: inline-block;
    }

    .new__name {
        left: 18%;
    }

    .blurb__item .big {
        font-size: 25px;
    }

    .cont__gallery img {
        width: 140px;
        height: 140px;
    }

    .texts {
        font-size: 16px;
    }

    .menu__logo img {
        display: none;
    }

    .menu__logo div {
        text-align: center;
    }

    .face {
        left: 0;
        width: 100%;
    }

    .face__part:first-child {
        text-align: center;
    }

    .face__item {
        margin: 0 auto;
    }

    .face__cont {
        flex-direction: column;
    }

    .face__item:before,
    .serv__info {
        display: none;
    }

    .serv__up {
        justify-content: center;
    }

    .cours .wpcf7-list-item-label {
        min-width: 55px;
    }

    .face__part input,
    .face__part select,
    .face__part .btn {
        width: 290px;
        height: 40px;
        margin: 0 auto 18px;
    }

    .face__part .btn {
        margin-bottom: 18px !important;
        padding: 8px;
    }

    .face__part button {
        padding: 0;
    }

    .face__part_two > span {
        width: 100%;
        text-align: center;
    }

    .face__part_two span {
        width: 100%;
    }

    .info__photo {
        float: inherit;
        margin-bottom: 18px;
    }

    .faces {
        padding: 0;
        filter: none;
    }

    .face__part:first-child {
        margin-right: 0;
    }

    .title {
        font-size: 25px;
        line-height: 33px;
    }

    .face__text,
    .range__place,
    .prasent__text {
        font-size: 20px;
    }

    .range__cont,
    .range__item,
    .info__photo,
    .license__item {
        max-width: 100%;
    }

    .serv__item {
        font-size: 20px;
        display: none;
        width: 290px;
        height: 65.34px;
        margin: 0 auto 15px;
    }

    .serv__item:nth-child(-n+8) {
        display: flex;
    }

    .offer__cont {
        justify-content: center;
    }

    .offer__name {
        font-size: 20px;
    }

    .blurb__info .blurb__item span {
        margin: 10px 0;
    }

    .blurb__baner img {
        height: 100px;
    }

    .instru__item {
        width: 173px !important;
    }

    .place__item {
        margin: 0 auto 20px;
    }

    #map, #map-down {
        height: 1000px;
    }

    .menu__licens {
        display: none;
    }
}

@media (max-width: 576px) {
    .container,
    .wrap {
        width: 90%;
    }

    .new__name {
        left: 0;
        width: 95%;
    }

    .cours .wpcf7-list-item-label {
        width: 135px;
    }

    .blurb__item {
        flex-direction: column;
        width: 180px;
        height: auto;
        margin: 0 auto;
    }

    .down__item_name {
        font-size: 12px;
    }

    .down__list li {
        font-size: 10px;
    }

    .menu__info img {
        display: none;
    }

    .menu__licens {
        display: none;
    }

    .cours__down {
        flex-direction: column;
    }

    .cours__down p:first-child {
        margin-bottom: 20px;
    }

    .cours .wpcf7-list-item-label {
        font-size: 18px;
        min-width: 50px;
    }

    .face__item {
        width: 100%;
    }

    .menu__logo span {
        font-size: 20px
    }

    .range__picturs {
        height: 200px;
    }

    .cont__gallery img {
        width: 200px;
        height: 200px;
    }

    .take-info__cont {
        flex-direction: column;
    }

    .sidebar {
        justify-content: center;
        width: 100%;
        text-align: center;
    }

    .sidebar__list li {
        width: 290px;
        height: 37px;
        margin: 0 auto 10px;
    }

    .sidebar__form {
        width: 290px;
        margin: 0 auto;
    }

    .sidebar__contact {
        display: inline-block;
    }
}

@media (max-width: 460px) {
    .menu__logo {
        display: none;
    }

    .face__item {
        padding: 20px 15px;
    }

    .face__part input,
    .face__part select,
    .face__part button {
        max-width: 100%;
    }

    .range__btn {
        left: 7%;
    }

    .block_map {
        margin-top: 90px;
    }


}

.d-block {
    display: block;
}

.close {
    display: none;
}

.d-none {
    display: none !important;
}

.sticky {
    position: fixed;
    z-index: 101;
}

.stop {
    position: relative;
    z-index: 101;
}

#sidebar-two-fixed,
#sidebar-fixed {
    margin-bottom: 20px;
}


.sidebar__fixed .sticky .sidebar__list-materialy,
.sidebar__fixed .stop .sidebar__list-materialy {
    display: none;
}

.sidebar__title {
    font-size: 20px;
    /*line-height: 16px;*/
    text-decoration: underline;
    text-transform: uppercase;
}